//inseriamo i mixin

@use './variables' as vars;

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin icon {
    width: 20px;
    height: auto;
    margin: 0 5px;
}

@mixin container {
    max-width: 1200px;
    margin: 30px auto;
}

@mixin col-33 {
    margin: 10px;
    width: calc(100% / 3 - 20px);
}

@mixin hide {
    position: absolute;
    width: 100%;
    display: none;
}