/*variabili css*/
$bg_background: white;
$bg_navBar: #FF6900;
$bg_footer: #23272A;

$bg_discount: red;
$bg_sustainability: green;


//text-color
$white_text: white;

//text-size
$h2_footer: 16px;
$font14: 14px;


//col
$col-25: 25%;
$col-50: 50%;
$col-100: 100%;



//py
$py-5: 5px 0px;
$py-20: 20px 0px;
$py-120: 120px 0px;
$pxy-10-20: 10px 20px;

//my
$my-5: 5px 0px;
$my-10: 10px 0px;

//style
$unstyled-list: none;