/*variabili css*/
$bg_background: white;
$bg_navBar: orange;
$bg_footer: #23272A;


//text
$white_text: white;
$h2_footer: 16px;
$font14: 14px;

//col
$col-25: 25%;
$col-50: 50%;
$col-100: 100%;

//py
$py-5: 5px 0px;
$py-20: 20px 0px;

//my
$my-5: 5px 0px;
$my-10: 10px 0px;

//style
$unstyled-list: none;